
.card{
    background-color: black;
    border: 1px solid gray;

}
.bg{
background-color: gray;
border-radius: 16px;
padding: 3px 10px;
}
.card-item{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.add-btn{
    background-color: #fd7e14;
    border-radius: 16px;
    padding: 3px 10px;
}
.card-img{
    width: 100%;
}
.card-design img{
    /* width: 400px; */
    height: 500px;
}
.card-design{
    color: white;
    text-decoration: none;
}
.card-design:hover{
    color: white;
}

